body{
}
.container{
height : 90vh;
display : flex;
flex-direction : column;
justify-content: center;
}
.titre{
    display : block;
    margin-left : auto;
    margin-right : auto;
}
.button{
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 100px;
}











/* ANIMATION */
.titre{
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
}
@keyframes example {
    from {color:black;}
    to {color: red;}
}





button:hover{
    cursor: pointer;
    animation: button 1s forwards;
}

@keyframes button {
    from {transform: scale(1);}
    to {transform: scale(1.3);}
}